p {
	padding: 10px;
	margin: 10px;
	font-family: Arial;
	font-size: 16px;
	overflow: auto;
	opacity: 1.0;
}

section {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	border: 1px solid #4CAF50;
	height: 90%;
	width: 80%;
	background-color: white;
	opacity: 0.95;
	box-shadow: 0 0 20px #262626;
}

#Nickname {
	width: 15%;
	margin-left: 10px;
}
#Message {
	width: 70%;
}
#Send {
	width: 10%;
}

input {
	margin: auto;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
	background-color: #FFFFFF;
	border:1px solid #4CAF50;
	font-size: 16px;
	box-shadow: 0 0 20px #262626;
}

form {
	opacity: 0.9;
}

input[type=submit]{
	color: white;
	background-color: #4CAF50;
	border: 1px solid #e6e6e6;
}

input[type=text]:focus {
	background-color: ##ccffcc;
	border: 1px solid #e6e6e6;
}

input[type=submit]:hover {
	color: black;
	background-color: #FFFFFF;
	border:1px solid #4CAF50;
	}
	
body {
	background-image: url("http://i.imgur.com/u5PODVq.jpg");
	background-attachment: fixed;
	background-size: cover;
}